.header_profile
    display: flex
    align-items: center
    justify-content: center
    li
        margin-left: 20px
    &_signin
        padding: 10px 0
        border-radius: 5px
        background-color: #0dcaf0
        a
            padding: 10px 20px
            color: black
    &_icons
        display: block
        width: 25px
        height: 25px
    &_avatar
        width: 35px
        height: 35px
        border-radius: 10%

@include table
    .header_profile
        &_icons
            width: 20px
            height: 20px