$header-color: #202124
$header-color2: #262421
$green-color: #80b64b
$dark-brown-color: #262522
$brown-color: #262522

$main_font: "Roboto", sans-serif
$main_text_color: #aaaaaa
$main_background_color: #0d0d0d

$chessCom_text_color: #93918f



$font_size_36: 36px
$font_size_24: 24px
$font_size_18: 18px
