@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')
@import "_variable"
@import "_mixins"
@import "../components/header/header"
@import "../components/user/user"
@import "../components/subheader/subheader"
@import "../elements/buttons/buttonGreen"
@import "../elements/header_profile/headerProfile"
@import "../elements/header_menu/headerMenu"
@import "../elements/header_services/headerServices"
@import "../pages/addBlog/addBlog"
@import "../pages/authors/authors"
@import "../pages/blogs/blogs"
@import "../pages/home/homePage"
@import "../pages/profile/profile"
@import "../pages/signin/signin"
@import "../pages/signup/signup"
    
body
    color: $main_text_color
    font-family: $main_font
    background-color: #0d0d0d
    
.container
    max-width: 1260px
    margin: 0 auto
    padding: 0 30px