@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.subheader {
  height: 60px;
  padding: 10px 0;
  background-color: #0d0d0d;
}
.subheader_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.subheader_container_menu {
  display: none;
}
.subheader_container .active {
  display: block;
}
.subheader_container_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subheader_container_left_title {
  padding: 0 15px 0 0;
  font-size: 28px;
  border-right: 1.5px solid #495057;
}
.subheader_container_left_buttonArrow {
  margin-left: 15px;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: #0d0d0d;
  width: 30px;
  height: 30px;
}
.subheader_container_left_buttonArrow img {
  width: 30px;
  height: 30px;
}
.subheader_container_left_buttonAuthor {
  margin: 2px 0 2px 15px;
  background-color: black;
  border: 1px solid white;
  border-radius: 3px;
  cursor: pointer;
}
.subheader_container_left_buttonAuthor span {
  padding: 0 10px;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
}
.subheader_container_left_list {
  display: none;
}
.subheader_container_left_list.active {
  background: #171717;
  position: absolute;
  z-index: 3;
  display: block;
  top: 60px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 20px 1px rgba(255, 255, 255, 0.2);
          box-shadow: 0 0 20px 1px rgba(255, 255, 255, 0.2);
}
.subheader_container_left_list.active ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  list-style-type: none;
}
.subheader_container_left_list.active ul h2 {
  margin: 0 20px;
  padding: 10px 0;
  font-weight: 500;
  color: #919191;
  font-size: 18px;
  border-bottom: 1px solid #495057;
}
.subheader_container_left_list.active ul a {
  padding: 10px 20px;
  font-size: 14px;
}
.subheader_container_left_list.active ul a h3 {
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-weight: 300;
}
.subheader_container_left_list.active ul a p {
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #919191;
}
.subheader_container_left_list.active ul a:hover {
  background-color: #000;
}
.subheader_container_rigth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.subheader_container_rigth_text {
  color: #0dcaf0;
}
.subheader_container_profile {
  display: none;
}

@media (max-width: 1024px) {
  .subheader_container_profile {
    display: block;
  }
  .subheader_container_rigth_text {
    display: none;
  }
}
@media (max-width: 767px) {
  .subheader_container_left_title {
    padding-left: 20px;
    border: none;
  }
  .subheader_container_left_buttonArrow {
    display: none;
  }
  .subheader_container_left_buttonAuthor {
    display: none;
  }
  .subheader_container_menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 40%;
    background-color: #202124;
  }
  .subheader_container_menu_wrapper {
    padding: 20px;
    border-bottom: 1px solid #0d0d0d;
  }
  .subheader_container_menu_title {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
    text-align: left;
  }
  .subheader_burger {
    margin-top: 4px;
    display: block;
  }
  .subheader_burger_line {
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}
.user {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.user img {
  display: block;
  border-radius: 25px;
  border: 2px solid #000;
  width: 500px;
  height: 500px;
}
.user_description {
  padding: 0 0 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.user_description h3 {
  font-size: 46px;
  text-align: center;
}
.user_description p {
  font-size: 24px;
  text-align: center;
}
.user_description button {
  padding: 5px 50px;
  margin: 0 auto;
  padding: 10px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  padding: 20px 0;
  background-color: #202124;
}
.header_nav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header_nav_menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}
.header_nav_menu_list li {
  padding-right: 20px;
}
.header_nav_menu_list li a {
  font-size: 16px;
  color: #aaaaaa;
}
.header_nav_menu_list.active {
  width: 100%;
  height: 100%;
  background-color: #202124;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.header_nav_menu_list.active li {
  padding-top: 80px;
}

@media (max-width: 1024px) {
  .header_nav_menu_profile {
    display: none;
  }
}
@media (max-width: 767px) {
  .header {
    display: none;
  }
  .header_nav_menu_list {
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  .header_nav_menu_list li a {
    font-size: 24px;
  }
  .header_nav_menu_profile {
    display: none;
  }
  .burger {
    position: static;
    display: block;
  }
}
.greenButton {
  display: block;
  width: 100%;
  padding: 5px 0;
  background-color: #80b64b;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}

.header_profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header_profile_signin {
  padding: 10px 20px;
  border-radius: 5px;
  color: black;
  background-color: #0dcaf0;
}
.header_profile li {
  padding-left: 20px;
}
.header_profile li a img {
  display: block;
  width: 25px;
  height: 25px;
}

.header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .header_menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header_menu li {
    padding: 5px 0;
  }
}
ul {
  padding: 0;
}

@media (max-width: 767px) {
  .header_services h2 {
    font-size: 18px;
  }
  .header_services a h3 {
    padding: 5px 0;
  }
  .header_services a p {
    display: none;
  }
}
.addBlog {
  padding: 50px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.addBlog_block {
  width: 400px;
  margin: 0 20px;
  padding: 20px 30px 30px 30px;
  background-color: #202124;
  border-radius: 15px;
}
.addBlog_block h2 {
  font-size: 42px;
  text-align: left;
  padding-bottom: 20px;
}
.addBlog_block form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}
.addBlog_block form input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}
.addBlog_block form button {
  margin-top: 40px;
}

.authors {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.authors .author {
  min-height: 420px;
  border-radius: 25px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 22%;
          flex: 0 1 22%;
  margin: 10px;
  background-color: #202124;
}
.authors .author img {
  margin: 0 auto;
  border-radius: 25px;
  border: 5px solid #000;
  min-height: 200px;
  min-width: 200px;
}
.authors .author h2 {
  padding-top: 20px;
  text-align: center;
  font-size: 24px;
}
.authors .author p {
  text-align: center;
  font-size: 18px;
}
.authors .author button {
  width: 220px;
  margin: 10px auto;
  padding: 5px 10px;
}

.blogs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.blogs .blog {
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  background-color: #202124;
  width: 780px;
}
.blogs .blog_container_img {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}
.blogs .blog img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.homePage h2 {
  padding: 1000px 0 0 0;
  font-size: 86px;
  text-align: center;
}

.profile {
  padding: 40px;
}
.profile img {
  display: block;
  border-radius: 25px;
  width: 300px;
  height: 300px;
}
.profile_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.profile_block img {
  margin-right: 30px;
}

.block {
  padding: 50px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.block .block_signin {
  width: 400px;
  background-color: #202124;
  border-radius: 15px;
  padding: 20px 30px 30px 30px;
}
.block .block_signin h2 {
  font-size: 42px;
  text-align: left;
  padding-bottom: 20px;
}
.block .block_signin .form_signin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}
.block .block_signin .form_signin input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}
.block .block_signin .form_signin .signIn_button {
  margin-top: 40px;
  font-size: 18px;
}
.block .block_signin .signin_footer {
  font-size: 18px;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.block .block_signin .signin_footer a {
  margin-left: 7px;
}

@media (max-width: 767px) {
  .block .block_signin {
    width: 280px;
  }
  .block .block_signin h2 {
    font-size: 36px;
  }
  .block .block_signin .signin_footer {
    font-size: 16px;
  }
  .block .block_signin .signin_footer a {
    margin-left: 7px;
  }
}
.signup_block {
  padding: 50px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.signup_block .signup_form {
  width: 400px;
  margin: 0 20px;
  padding: 20px 30px 30px 30px;
  background-color: #202124;
  border-radius: 15px;
}
.signup_block .signup_form h2 {
  font-size: 42px;
  text-align: left;
  padding-bottom: 20px;
}
.signup_block .signup_form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}
.signup_block .signup_form form input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}
.signup_block .signup_form form .signup_button {
  margin-top: 40px;
  font-size: 18px;
}
.signup_block .signup_form .signup_footer {
  font-size: 18px;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.signup_block .signup_form .signup_footer a {
  margin-left: 7px;
}

@media (max-width: 767px) {
  .signup_block .signup_form {
    width: 280px;
  }
  .signup_block .signup_form h2 {
    font-size: 36px;
  }
  .signup_block .signup_form .signun_footer {
    font-size: 16px;
  }
  .signup_block .signup_form .signun_footer a {
    margin-left: 7px;
  }
}
body {
  color: #aaaaaa;
  font-family: "Roboto", sans-serif;
  background-color: #0d0d0d;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px;
}