// Blogs

.blogs
  padding-top: 30px
  display: flex
  justify-content: center
  flex-wrap: wrap
  .blog
    border-radius: 25px
    flex: 0 1 20%
    margin: 10px
    background-color: #202124
    img
      margin: 0 auto
      border-radius: 25px
      border: 5px solid #000
      min-height: 200px
      min-width: 200px
    h2
      font-size: 24px
      margin: 10px 0
      text-align: center