// Header

@import "../../sass/_variable"
@import "../../sass/_mixins"

.header
    position: sticky
    top: 0
    z-index: 999
    width: 100%
    padding: 20px
    background-color: $header-color
    &_nav
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center
        h1
            font-size: 36px
        &_menu
            display: flex
            justify-content: end
            list-style-type: none
            transition: 0.5s
            li
                font-size: 18px
                padding: 0 20px
                border-radius: 5px
        &_menu.active
            background-color: $header-color
            // opacity: 0.5
            // backdrop-filter: blur(20px)
            // overflow: hidden
            transform: translateY(0)
            li
                padding-top: 80px

.burger
    display: none
    .burger_line
        display: block
        width: 30px
        height: 3px
        background-color: white
        margin-bottom: 5px
        transition: 0.5s

    .active:first-child
        width: 40px
        transform: translateY(8px) rotate(45deg)
    .active:nth-child(2)
        transition: 0s
        opacity: 0
    .active:last-child
        width: 40px
        transform: translateY(-8px) rotate(-45deg)


@include laptop
    .header
        &_nav
            h1
                font-size: 36px
            ul
                width: 100%
                height: 100%
                li
                    padding: 0 15px
                    a
                        font-size: 16px

@include table
    .header
        &_nav
            h1
                font-size: 26px
            ul
                position: fixed
                top: 0
                left: 0
                display: flex
                flex-direction: column
                justify-content: start
                align-items: center
                transform: translateY(-100%)
                li
                    a
                        font-size: 24px
    .burger
        position: static
        display: block